*.label_acc
*.params
*.pyc
*.hdf5
*.conllu
/results/
/SA-config/
*.ipynb_checkpoints
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-1-maximum_rank-50.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-3-maximum_rank-50.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-6-maximum_rank-50.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-9-maximum_rank-50.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-12-maximum_rank-50.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
SA-dim-files/Bau_MaxCorr_dim_layer_1.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_2.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_3.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_4.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_5.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_6.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_7.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_8.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_9.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_10.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_11.tsv
SA-dim-files/Bau_MaxCorr_dim_layer_12.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_1.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_2.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_3.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_4.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_5.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_6.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_7.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_8.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_9.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_10.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_11.tsv
SA-dim-files/Bau_MeanCorr_dim_layer_12.tsv
SA-dim-files/Bau_MinCorr_dim_layer_1.tsv
SA-dim-files/Bau_MinCorr_dim_layer_2.tsv
SA-dim-files/Bau_MinCorr_dim_layer_3.tsv
SA-dim-files/Bau_MinCorr_dim_layer_4.tsv
SA-dim-files/Bau_MinCorr_dim_layer_5.tsv
SA-dim-files/Bau_MinCorr_dim_layer_6.tsv
SA-dim-files/Bau_MinCorr_dim_layer_7.tsv
SA-dim-files/Bau_MinCorr_dim_layer_8.tsv
SA-dim-files/Bau_MinCorr_dim_layer_9.tsv
SA-dim-files/Bau_MinCorr_dim_layer_10.tsv
SA-dim-files/Bau_MinCorr_dim_layer_11.tsv
SA-dim-files/Bau_MinCorr_dim_layer_12.tsv
log/300_SA_control-hid-0-results-300_SA_control-layer-1-maximum_rank-300.csv
log/300_SA_control-hid-0-results-300_SA_control-layer-3-maximum_rank-300.csv
log/300_SA_control-hid-0-results-300_SA_control-layer-6-maximum_rank-300.csv
log/300_SA_control-hid-0-results-300_SA_control-layer-9-maximum_rank-300.csv
log/300_SA_control-hid-0-results-300_SA_control-layer-12-maximum_rank-300.csv
log/300_SA_control-hid-1-results-300_SA_control-layer-1-maximum_rank-300.csv
log/300_SA_control-hid-1-results-300_SA_control-layer-3-maximum_rank-300.csv
log/300_SA_control-hid-1-results-300_SA_control-layer-6-maximum_rank-300.csv
log/300_SA_control-hid-1-results-300_SA_control-layer-9-maximum_rank-300.csv
log/300_SA_control-hid-1-results-300_SA_control-layer-12-maximum_rank-300.csv
log/300_SA_control-hid-2-results-300_SA_control-layer-1-maximum_rank-300.csv
log/300_SA_control-hid-2-results-300_SA_control-layer-3-maximum_rank-300.csv
log/300_SA_control-hid-2-results-300_SA_control-layer-6-maximum_rank-300.csv
log/300_SA_control-hid-2-results-300_SA_control-layer-9-maximum_rank-300.csv
log/300_SA_control-hid-2-results-300_SA_control-layer-12-maximum_rank-300.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-1-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-1-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-2-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-2-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-3-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-3-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-4-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-4-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-5-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-5-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-6-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-6-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-7-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-7-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-8-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-8-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-9-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-9-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-10-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-11-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-11-maximum_rank-1000.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-12-maximum_rank-45.csv
log/ALL_LAYER-hid-1-results-ALL_LAYER-layer-12-maximum_rank-1000.csv
log/backup_300_SA_control-hid-1-results-300_SA_control-layer-1-maximum_rank-300_backup.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-1-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-1-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-2-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-2-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-3-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-3-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-4-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-4-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-5-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-5-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-6-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-6-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-7-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-7-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-8-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-8-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-9-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-9-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-10-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-10-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-11-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-11-maximum_rank-300.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-12-maximum_rank-45.csv
log/Bau_MaxCorr-hid-1-results-Bau_MaxCorr-layer-12-maximum_rank-300.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-1-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-1-maximum_rank-300.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-2-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-3-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-4-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-4-maximum_rank-300.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-5-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-6-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-7-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-7-maximum_rank-300.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-8-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-9-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-10-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-10-maximum_rank-300.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-11-maximum_rank-45.csv
log/Bau_MeanCorr-hid-1-results-Bau_MeanCorr-layer-12-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-1-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-2-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-3-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-4-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-5-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-6-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-7-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-8-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-9-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-10-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-11-maximum_rank-45.csv
log/Bau_MinCorr-hid-1-results-Bau_MinCorr-layer-12-maximum_rank-45.csv
log/do_sub_dim_rest_2-hid-0-results-do_sub_dim_rest_2-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-0-results-do_sub_dim_rest_2-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-0-results-do_sub_dim_rest_2-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-0-results-do_sub_dim_rest_2-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-0-results-do_sub_dim_rest_2-layer-12-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-1-maximum_rank-50.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-3-maximum_rank-50.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-6-maximum_rank-50.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-9-maximum_rank-50.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-12-maximum_rank-50.csv
log/do_sub_dim_rest_2-hid-1-results-do_sub_dim_rest_2-layer-12-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-2-results-do_sub_dim_rest_2-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-2-results-do_sub_dim_rest_2-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-2-results-do_sub_dim_rest_2-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-2-results-do_sub_dim_rest_2-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest_2-hid-2-results-do_sub_dim_rest_2-layer-12-maximum_rank-300.csv
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-12-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-1-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-3-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-6-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-9-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-12-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-12-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-3-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-6-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-9-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-12-maximum_rank-300.csv
scripts/300_SA_control-hid-0-exp-300_SA_control-layer-1-maximum_rank-300.sh
scripts/300_SA_control-hid-0-exp-300_SA_control-layer-3-maximum_rank-300.sh
scripts/300_SA_control-hid-0-exp-300_SA_control-layer-6-maximum_rank-300.sh
scripts/300_SA_control-hid-0-exp-300_SA_control-layer-9-maximum_rank-300.sh
scripts/300_SA_control-hid-0-exp-300_SA_control-layer-12-maximum_rank-300.sh
scripts/300_SA_control-hid-1-exp-300_SA_control-layer-1-maximum_rank-300.sh
scripts/300_SA_control-hid-1-exp-300_SA_control-layer-3-maximum_rank-300.sh
scripts/300_SA_control-hid-1-exp-300_SA_control-layer-6-maximum_rank-300.sh
scripts/300_SA_control-hid-1-exp-300_SA_control-layer-9-maximum_rank-300.sh
scripts/300_SA_control-hid-1-exp-300_SA_control-layer-12-maximum_rank-300.sh
scripts/300_SA_control-hid-2-exp-300_SA_control-layer-1-maximum_rank-300.sh
scripts/300_SA_control-hid-2-exp-300_SA_control-layer-3-maximum_rank-300.sh
scripts/300_SA_control-hid-2-exp-300_SA_control-layer-6-maximum_rank-300.sh
scripts/300_SA_control-hid-2-exp-300_SA_control-layer-9-maximum_rank-300.sh
scripts/300_SA_control-hid-2-exp-300_SA_control-layer-12-maximum_rank-300.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-1-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-1-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-2-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-2-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-3-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-3-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-4-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-4-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-5-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-5-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-6-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-6-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-7-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-7-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-8-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-8-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-9-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-9-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-10-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-10-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-11-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-11-maximum_rank-1000.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-12-maximum_rank-45.sh
scripts/ALL_LAYER-hid-1-exp-ALL_LAYER-layer-12-maximum_rank-1000.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-1-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-1-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-2-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-2-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-3-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-3-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-4-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-4-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-5-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-5-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-6-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-6-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-7-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-7-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-8-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-8-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-9-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-9-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-10-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-10-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-11-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-11-maximum_rank-300.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-12-maximum_rank-45.sh
scripts/Bau_MaxCorr-hid-1-exp-Bau_MaxCorr-layer-12-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-1-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-1-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-2-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-2-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-3-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-3-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-4-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-4-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-5-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-5-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-6-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-6-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-7-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-7-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-8-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-8-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-9-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-9-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-10-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-10-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-11-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-11-maximum_rank-300.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-12-maximum_rank-45.sh
scripts/Bau_MeanCorr-hid-1-exp-Bau_MeanCorr-layer-12-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-1-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-1-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-2-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-2-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-3-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-3-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-4-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-4-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-5-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-5-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-6-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-6-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-7-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-7-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-8-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-8-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-9-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-9-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-10-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-10-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-11-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-11-maximum_rank-300.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-12-maximum_rank-45.sh
scripts/Bau_MinCorr-hid-1-exp-Bau_MinCorr-layer-12-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-0-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-1-maximum_rank-50.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-3-maximum_rank-50.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-6-maximum_rank-50.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-9-maximum_rank-50.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-12-maximum_rank-50.sh
scripts/do_sub_dim_rest_2-hid-1-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-1-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-3-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-6-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-9-maximum_rank-300.sh
scripts/do_sub_dim_rest_2-hid-2-exp-do_sub_dim_rest_2-layer-12-maximum_rank-300.sh
log/do_sub_dim_rest-hid-0-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-1-maximum_rank-50.csv
log/do_sub_dim_rest-hid-1-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
log/do_sub_dim_rest-hid-2-results-do_sub_dim_rest-layer-1-maximum_rank-300.csv
